img {vertical-align: middle;}
.stc-recharge-phone-card{width:60%;background-color:#fff;border-bottom:solid #cfd6da 2px;padding:5px 0;margin-bottom:6px;margin-top:16px;text-align:left;position:relative}
.stc-recharge-belong{width:100%;height:20px;line-height:20px;vertical-align:top;text-align:left;color:#f98a04}
.stc-recharge-input input{border:none;font-family:"Microsoft YaHei",Tahoma,Arial;font-size:18px;height:25px;line-height:25px;width:90%;color: #2198d4;font-weight: bold;letter-spacing: 1px;}
.img-circle {border-radius: 50%;}
.img-user {width: 66px;height:66px;border: 4px solid #ffffff;box-shadow: 0 0 4px 4px rgba(247,247,247,0.6);}
.media-object {display: block;}
.lang-flag {display: inline-block;padding: 3px 5px 3px 0;}
.lang-name {display: inline-block;vertical-align: middle;}
#phonenum::-webkit-input-placeholder{color: #2198d4;font-size: 18px;font-weight: bold;letter-spacing: 1px;}
.stc-common-inline .stc-common-p2{line-height:10px;font-size:12px}
.stc-recharge-amount-area{width:100%;padding:0px 2.5% 0 2.5%;margin-bottom:10px;font-size:16px}
.stc-recharge-amount-area div{width:28.5%;height:60px;line-height:40px;border:solid #2198d5 2px;color:#2198d5;font-size:16px;margin-bottom:10px;margin-right: 2%;border-radius:4px;cursor:pointer;vertical-align:bottom;text-align:center;font-weight: bold;}

/*-----------------------------tab 切换---------------------------*/
#tabbox{margin-top: 20px}
.tabs{height: 32px;width: 100%;margin: 10px auto; position: relative;left: -12px;}
.tabs li{float:left;overflow: hidden;position: relative;}
.tabs li a {display: block;padding: 0 20px;outline: none;color: #666666;font-size: 16px;letter-spacing: 1px;font-weight: bold}
.tabs li a:hover {color: #2198d5}
.tabs .thistab a,.tabs .thistab a:hover{color: #2198d5;font-weight: bold}
.tab_con {display:none;font-size: 16px;}
.tab_con_div{float: left;margin-left:44px;}
.tab_con_div a{color: #666666;}
.tab_con_div .tab_con_div_p1{text-align: center}
.tab_con_div .tab_con_div_p2{text-align: right;color: #989898;}


.page-flow{width: 100%;overflow-x: scroll;overflow-y: hidden;margin-left: 10px;height: 260px}
.page-flow-ulone{width: 200px;height: 200px;float: left;box-shadow:0 0px 10px rgba(241, 241, 241, .7);
    background: -webkit-linear-gradient(left top, #6cd5fb, #1e95d2); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #6cd5fb, #1e95d2); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, #6cd5fb, #1e95d2); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #6cd5fb, #1e95d2); /* 标准的语法（必须放在最后） */  }
.page-flow-ultwo{width: 200px;height: 200px;background: #333;float: left;background: #fff;box-shadow:0 0px 10px rgba(241, 241, 241, .7)}



