.stc-common-inline{zoom:1;display:inline-block;-webkit-tap-highlight-color:transparent;width:100%}
.stc-common-inline .stc-common-p2{line-height:10px;font-size:12px}
.stc-recharge-belong{width:26%;height:25px;line-height:25px;vertical-align:top;position:absolute;left:1%;top:32px;text-align:left;color:#f98a04}
.stc-recharge-amount-area{width:98%;padding:10px 1% 0 1%;margin-bottom:10px;font-size:16px}
.stc-recharge-input input{border:none;font-family:"Microsoft YaHei",Tahoma,Arial;font-size:16px;height:25px;line-height:25px;width:90%;padding-left:4px}
.stc-recharge-amount-area div{width:30.9%;height:60px;line-height:40px;border:solid #dadada 1px;color:#777;font-size:16px;margin-bottom:10px;margin-right:2px;border-radius:4px;cursor:pointer;vertical-align:bottom;text-align:center}
.stc-recharge-interof div{box-sizing:border-box}
.stc-recharge-flow-area div{width:31%;height:65px;line-height:30px;border:solid #dadada 1px;color:#777;font-size:16px;box-sizing:border-box;margin-bottom:10px;margin-right:1%;border-radius:4px;cursor:pointer;vertical-align:bottom;text-align:center}
.stc-recharge-flow-area div span{font-size:14px;display:block}
.stc-recharge-flow-area{width:98%;padding:10px 1% 0 2%;font-size:16px;-webkit-tap-highlight-color:transparent}
.stc-recharge-amount-area input{width:98%;height:30px;line-height:30px;border:solid #DFDFDF 1px;border:none;text-align:center;font-size:16px}
.stc-recharge-payamount{height:32px;line-height:32px;text-align:left;padding-left:10px}
.stc-recharge-money{font-size:16px;padding-left:10px}
.money-on{border:solid #f98a04 1px!important;color:#f98a04!important}
.stc-recharge-down-phone{position:absolute;width:100%;line-height:45px;background:#fff;border:1px solid #dadada;font-size:14px;z-index:200}
.stc-recharge-down-phone-num{margin-left:10px;width:220px;background:#fff;height:40px;font-size:20px;color:#FD7112;font-family:"Microsoft YaHei",Tahoma,Arial}
.stc-recharge-input-in-18{font-size:18px!important}
.stc-recharge-inline{vertical-align:top;zoom:1;display:inline-block}
.page-content{width:93%;padding:0 2% 1% 2%}
.stc-recharge-phone-card{width:100%;background-color:#fff;border:solid #DFDFDF 1px;border-radius:5px;padding:5px 0;margin-bottom:10px;margin-top:25px;text-align:left;position:relative}
.input-gray{color:#B3B3B3;font-size:12px!important}
.stc-recharge-belong2{vertical-align:top;position:absolute;right:9%;padding-right:5px}
.page-foot .ftop{text-align:center}
.imglogo{margin-left: 10px;width: 18px}

/*常见问题*/
.accordion{width:100%;max-width:360px;margin:30px auto 20px;background:#FFF;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.accordion .link{cursor:pointer;display:block;padding:15px 26px 15px 8px;color:#4D4D4D;font-size:14px;font-weight:700;border-bottom:1px solid #CCC;position:relative;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
.accordion li:last-child .link{border-bottom:0}
.accordion li i{position:absolute;top:16px;left:12px;font-size:18px;color:#595959;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
.accordion li i.fa-chevron-down{right:12px;left:auto;font-size:16px}
.accordion li.open .link{color:#0084cc}
.accordion li.open i{color:#0084cc}
.accordion li.open i.fa-chevron-down{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.fa-chevron-down img{width:15px;height:15px}
.subm{display:none;font-size:14px;letter-spacing:1px;line-height:22px}
.subm li{padding:10px 10px;border-bottom:1px solid #ccc}
.subm a{display:block;text-decoration:none;color:#d9d9d9;padding:12px;padding-left:42px;-webkit-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}
/*充值记录*/
.rechargeBill-lf span{ display: inline-block;text-align: center}
.rechargeBill-lf .span1{width: 25%;}
.rechargeBill-lf .span2{width: 20%;}
.rechargeBill-lf .span3{width: 10%;}
.rechargeBill-lf .span4{width: 28%;}
.rechargeBill-lf .span5{width: 17%;}

